@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

:root {

  /* COLOR PALETTE */

  /* Primary */
  --color-pink:        #F2CDD5;   
  --color-teal:        #6F9893;   
  --color-olive:       #B5B76B;   
  --color-terracotta:  #BC7B70;   
  --color-gold:        #EFC114;   
  --color-cream:       #F9F5EC; 
  --color-white:       #FFFFFF;


  /* Text */
  --color-text-default:      #2E2E2E;   
  --color-text-muted:        #6F9893;   
  --color-text-on-dark:      #F9F5EC;   
  --color-text-on-accent:    #2E2E2E;   

  /* Borders */
  --color-border:            #BC7B70;   
  --color-border-subtle:     #EAE4D8;   

  /* TYPOGRAPHY */

  --font-family-base:   'Life Savers', cursive;

  --font-weight-regular: 400;
  --font-weight-bold:    700;
  --font-weight-extra:   800;
}